$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 20px;
$spacing-6: 24px;
$spacing-8: 32px;
$spacing-10: 40px;


$red-400 : #eb4a26;
$dark : #171717;
$dark-100: #e2e2e2;
$white: #fff;
$primary: $red-400